extends layout

block content
  div(data-role='page')
    div(data-role='header')
        h1 Dig Now! 
      div(data-role='content')
        label Username2
        input(type='text', placeholder='Type something…')
        label Password
        input(type='password', placeholder='Type something…')
        a(href='index.html', data-role='button', data-inline='true', data-theme='b') Facebook
        a(href='index.html', data-role='button', data-inline='true') Linkedin
      div(data-role='footer')
        h4 Page Footer
        
